.container{
    border: 1px solid rgb(170, 192, 47);
  
    padding: 5px;
    background-color: rgb(82, 69, 94);
    color: aliceblue;
    margin: 0;
    font-size: medium;
    text-transform: none;

}